<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/jpg"
        href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzeOvCtYVt2vbi_3ieypHt2bmY15TmpwJC9gUNGzqvtfOMfzAvjg&s">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <title>Access Controlar</title>
    <style>
        body {
            background: #dedede;
            margin-top: 50px;
        }
    
        .page-wrap {
            min-height: 100vh;
        }
</style>
</head>
<div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span style="font-size: 80px;font-weight: 900;" class="display-1 d-block">404</span>
                <div class="mb-4 lead"><%=error%></div>
                <a href="/post" class="btn">Back</a>
            </div>
        </div>
    </div>
</div>